@font-face {
    font-family: Museo;
    src: url(MuseoModerno-VariableFont_wght.ttf);
}

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Museo, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(./landscape.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 70vh;
    width: 50vw;
    background-color: aliceblue;
    border-radius: 0.5pc;
    box-shadow: 1rem 1rem 0 rgba( 0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.input-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input-text {
    padding: 1rem;
    border: 3px solid rgb(66, 66, 182);
    border-radius: 5px;
}

.input-text:hover {
    border: 3px solid rgb(19, 19, 77);
    background-color: rgb(197, 197, 235);
}

.input-text:focus {
    border: 3px solid rgb(19, 19, 77);
    background-color: rgb(197, 197, 235);
}


.span-name {
    font-weight: bold;
    font-size: 1.5rem;
}

.links {
    text-align: center;
}

.links > * {
    margin: 1rem;
    text-decoration: none;
}

.links > *:hover {
    color :rgb(19, 19, 77);
    text-decoration: underline;
}

.remenbeme-label:hover {
    color:rgb(19, 19, 77);
    cursor: pointer;
}

.remenbeme-check:hover {
    cursor: pointer;
}

.remenbeme {
    padding: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-login {
    padding: 1.2rem;
    margin: 0.5rem 0;
    border: 3px solid rgb(66, 66, 182);
    font-size: 2rem;
    background-color: rgb(50, 50, 211);
    color: white;
    border-radius: 5px;
}

.button-login:hover {
    background-color: rgb(34, 34, 139);
    cursor: pointer;
}